<ng-container *ngIf="countriesArr">
  <div class="container">
    <ngx-slick-carousel class="carousel" [config]="slideConfig" (beforeChange)="changeSlide()">
      <div ngxSlickItem *ngFor="let country of countriesArr" class="slide">
        <div class="slick-slide__item" [style.backgroundImage]="'url('+ country.imageUrl +')'">
          <div class="countryBox">
            <div class="countryBox__header">
              <span class="date">{{ country.date }}</span> <span class="time">{{ country.time }}</span>
            </div>
            <div class="countryBox__exchangeCountries">
              {{ country.from }} => {{ country.to }} 
            </div>
            <div class="countryBox__exchangeCurrency">{{ country.valueExchange }}</div> 
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</ng-container>
