$mainFontColor: #000;

:host {
	&::ng-deep {
		.container {
			height: 100%;
			width: 100%;
		
			.carousel {
				display: grid;
				height: 100%;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
				grid-gap: 30px 30px;
				grid-template-areas: ".";
		
				@media all and (-ms-high-contrast:none) {
					display: -ms-grid;
					-ms-grid-columns: 1fr;
					-ms-grid-rows: 1fr;
				 }
				
				.slick-list, 
				.slick-track {
					height: 100%;
		
					.slick-slide {
						height: 100%;

						&__item {
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							background-size: cover;
							background-repeat: no-repeat;

							.countryBox {
								width: 30vw;
								height: 20vh;
								background-color: rgba(255,255,255,.7);
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: space-around;

								&__header {
									display: flex;
									justify-content: space-around;
									width: 100%;
									font-size: 11px;
									font-weight: 700;
								}

								&__exchangeCountries {
									background-color: rgba(0,0,0, .3);
									width: 100%;
									text-align: center;
									font-size: 30px;
									line-height: 35px;
								}

								&__exchangeCurrency {
									color: green;
									font-size: 30px;
									line-height: 30px;
									font-weight: 700;
								}
							}
						}
					}
				}

				.slick-next,
				.slick-prev {
					line-height: 20px;
					font-size: 20px;
					z-index: 1;
		
					&:before {
						color: $mainFontColor;
					}
				}

				.slick-next {
					right: 30px;
				}

				.slick-prev {
					left: 30px;
				}
			}
		}
	}
}
